*{
    box-sizing: border-box;
    border: none;
    box-shadow: none;
    margin: 0;
}

html, body {
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
}

a, button {
    display:block;
    appearance: none;
}

a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: white;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.items-list{
    display:flex;
    gap: 1em;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
}

    .items-list > * {
        border-radius: 10px;
        border: solid black 1px;
        overflow: hidden;
    }

.img-container{
    width: 200px;
    aspect-ratio: 1/1;
    background-color: black;
    position: relative;
}

    .img-container > div {
        color: white;
        font-weight: 900;
        font-size: 3rem;
        position: absolute;
        top: 50%;
        left:50%;
        margin: auto;
        transform: translate(-50%, -50%);
    }

.items-list a {
    padding: 0.5em;
    transition-duration: 0.5s;
}
    .items-list a:hover {
        background-color: black;
        transition-duration: 0.5s;
    }
    .items-list a:active {
        background-color: gray;
        transition-duration: 0.5s;
    }

.quiz-container{
     width: 65vw;
     max-width: 500px;
     margin-left: auto;
     margin-right: auto;
     border: 1px solid black;
     border-radius: 10px;
     padding: 1rem;
     
}

.quiz-header{
    display:flex;
    justify-content: space-between;
}
    .quiz-header > * {
        padding: 10px;
        font-size: 0.8rem;
  
    }

    quiz-header > quiz-title{
        text-align: center;
    }


.quiz-question-form{
    min-height: 300px;
}

.question{
    text-align: center;
    padding: 10px;
    font-size: 2rem;
}

.possible-answer{
    padding: 10px;
    margin-top: 5px;
    border: black 1px solid;
    border-radius: 10px;
}

    .possible-answer:has(input:checked) {
        background-color: black;
        color: white;
    }

.center{
    margin: auto;
}

.space-top{
    margin-top: 10px;
}

.btn-submit{
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 10px;
    min-width: 200px;
}
.btn-submit:hover{
    background-color: gray;
    border: 1px solid black;
}