@page
@model IndexModel
@{
    ViewData["Title"] = "Quiz App";
}

@using Quiz_App.Models


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="items-list">
        @foreach (Quiz quiz in Model.quizzes)
        {
            <div>
                <h2>@quiz.Title</h2>
                <div class="img-container"></div>
                <a asp-page="/QuizPage">Answer Quiz</a>
            </div>
        }
    </div>
</div>

